BasedOnStyle: LLVM
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: BlockIndent
IndentExternBlock: true
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: true
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BinPackArguments: false
AllowBreakBeforeNoParenthesesOperators: true
BreakBeforeBinaryOperators: All
PenaltyBreakBinaryOperator: 0
